body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

#reader {
    width: 100%;
    max-width: 100%; /* Vous pouvez régler ceci pour une largeur maximale appropriée */
    height: auto; /* Gardez la hauteur automatique pour maintenir le ratio */
    margin: auto;
    border: 1px solid #ccc;
    position: relative;
}

/* Styles généraux pour les boutons, consistent sur tous les appareils */
button {
    background-color: #4CAF50; /* Couleur verte */
    color: white;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    padding: 14px 20px; /* Taille initiale pour les écrans plus grands */
    font-size: 16px; /* Taille de texte initiale */
    width: auto; /* Largeur auto pour s'adapter au contenu */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Ajoute un peu d'ombre pour du relief */
    transition: background-color 0.3s; /* Transition douce pour le hover */
    border-radius: 5px; /* Adoucit les angles des boutons */
}

button:hover {
    background-color: #45a049;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#scanned-results ul {
    text-align: left;
    display: inline-block;
}

#scanned-results li {
    border-bottom: 1px solid #ccc;
    padding: 8px;
}

#scanned-results li.success {
    color: green;
}

#scanned-results li.error {
    color: red;
}

#scanned-results strong {
    font-weight: bold;
}

/* Utilisation de Flexbox pour organiser les boutons de format QRBox */
#format-buttons-container {
    display: flex;
    justify-content: center; /* Centre les boutons horizontalement */
    flex-wrap: wrap; /* Permet aux boutons de passer à la ligne sur petits écrans */
    gap: 10px; /* Espacement entre les boutons */
}

/* Media queries pour ajuster les styles sur petits écrans */
@media (max-width: 600px) {
    #reader {max-width: 90%; }
    button {
        padding: 20px 30px; /* Augmente le padding pour les petits écrans pour agrandir le bouton */
        font-size: 18px; /* Augmente la taille de police pour une meilleure lisibilité */
    }
    input[type=text], h1, h2 {
        font-size: 18px; /* Augmente la taille de police pour une meilleure lisibilité sur les petits écrans */
    }
}
